#contracts
/contracts/cache
/contracts/out
/contracts/node_modules
# Ignores development broadcast logs
/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/
# Docs
/contracts/docs/
# Dotenv file
/contracts/.env
